@import "../../pages/base";

.category-content {
  .row {
    position: relative;
  }

  &__score {
    padding: 0 15px;

    transition: padding-bottom $transition-time * 2;

    .page__inner--play & {
      padding-bottom: 40px;
    }
  }

  &__score-inner {
    width: 100%;
    height: 0;
    padding: 0;

    background-color: $play-color;
    border-radius: 10px;

    transition-duration: $transition-time * 2;
    transition-property: height, padding;

    .page__inner--play & {
      height: 71px;
      padding: 10px;
    }
  }

  &__score-output {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 5px 10px;
    overflow-x: hidden;

    color: $white;
    white-space: nowrap;
    text-overflow: ellipsis;

    background-color: rgba(#fff, 0.2);
    border-radius: 3px;
  }

  &__score-star {
    margin-left: 5px;

    font-size: 0;
    line-height: 1.1;
    color: $pink;
    text-shadow: 0 0 30px #ffc;

    &--win {
      color: #ff0;
    }

    .page__inner--play & {
      font-size: $font-size * 1.5;
    }

    @media (max-width: 375px) {
      .page__inner--play & {
        font-size: $font-size * 1.227;
      }
    }
  }

  &__card-list {
    padding-bottom: 20px;

    .page__inner--play & {
      padding-bottom: 200px;
    }
  }

  &__btn-wrapper {
    position: absolute;
    top: -500vh;

    transition-timing-function: cubic-bezier(0.75, 0, 0.85, 1);
    transition-duration: $transition-time * 2;
    transition-property: top;

    @media (max-width: 500px) {
      top: 0;
      display: none;
    }

    .page__inner--play & {
      top: -140px;

      @media (max-width: 768px) {
        display: block;
      }
    }
  }

  &__btn {
    display: block;
    padding: 10px;

    font-weight: 700;
    font-size: inherit;

    background-color: $play-color;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 20px -10px #111;
    cursor: pointer;

    transition-duration: $transition-time;
    transition-property: box-shadow, transform, border-radius, padding;

    &--play {
      padding: 20px;

      border-radius: 50%;
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        z-index: 3;

        outline: none;
        box-shadow: 0 13px 30px -15px #000;
        transform: translateY(-3px);
      }

      &:active {
        box-shadow: 0 5px 20px -10px #111;
        transform: translateY(0);
      }
    }
  }

  &__btn-text {
    display: block;
    margin: 0;
    padding: 10px 70px;

    text-align: center;
    color: $white;

    background-color: rgba(#fff, 0.2);
    border-radius: 3px;

    pointer-events: none;

    .category-content__btn--play & {
      position: relative;

      width: 30px;
      height: 30px;
      padding: 15px;

      font-size: 0;

      background-color: transparent;
      border: 8px solid $white;
      border-right-color: transparent;
      border-radius: 50%;

      transition: border-color $transition-time;

      &::after {
        content: "";
        position: absolute;
        top: -8px;
        left: 18px;

        border: 16px solid transparent;
        border-top-width: 0;
        border-right-width: 0;
        border-bottom-color: $white;

        transition: border-color $transition-time;
      }

      &:focus {
        outline: none;
      }

      @media (hover: hover) {
        &:hover,
        &:focus {
          border-color: $train-color;
          border-right-color: transparent;
          // stylelint-disable
          &::after {
            border-bottom-color: $train-color;
          }
          // stylelint-enable
        }
      }
    }
  }

  &__result-title {
    font-size: 2em;
    text-align: center;
    color: $pink;
  }

  &__result-smile {
    height: 375px;

    font-size: 320px;
    line-height: 375px;
    text-align: center;
  }
}
