@import "../../pages/base";

.sidebar {
  min-width: 320px;
  max-width: 320px;
  min-height: 100vh;
  padding-top: 120px;
  overflow-y: auto;

  color: #fff;

  background-color: $train-sidebar-color;
  background-image: $train-sidebar-gradient;
  transform-origin: bottom left;

  transition-timing-function: cubic-bezier(0.945, 0.02, 0.27, 0.665);
  transition-duration: $transition-time * 2;
  transition-property: transform, margin-left, left, background-color, background-image;

  .page__inner--theme-play & {
    background-color: $play-sidebar-color;
    background-image: $play-sidebar-gradient;
  }

  &--hidden {
    margin-left: -320px;

    transform: rotateY(100deg);
  }

  &__list {
    @include reset-list;
  }

  &__link {
    display: block;
    padding: 10px 80px;

    color: inherit;
    text-decoration: none;

    transition: color $transition-time;
  }

  &__link:focus {
    outline: none;
  }

  @media (hover: hover) {
    &__link:hover,
    &__link:focus {
      color: $train-color;

      background-color: $light-blue;
      background-image: $blue-white-gradient;

      .page__inner--theme-play & {
        color: $play-color;
      }
    }
  }

  @media (max-width: 1600px) {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    bottom: 0;

    &--hidden {
      left: -100%;
    }
  }

  &__item--active > .sidebar__link {
    color: $white;

    background-color: $purple;
    background-image: $purple-blue-gradient;
    cursor: default;

    .page__inner--theme-play & {
      color: $white;

      background-color: $light-pink;
      background-image: $play-gradient;
    }
  }
}
