@import "../../pages/base";

.flipswitch {
  position: relative;

  width: 130px;

  user-select: none;

  &__checkbox {
    display: none;
  }

  &__label {
    display: block;
    overflow: hidden;

    border: 5px solid $blue-lighter;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow $transition-time;

    .page__inner--play & {
      border-color: $pink-lighter;
    }

    &:hover {
      box-shadow: $shadow-btn;
    }
  }

  &__inner {
    display: block;
    width: 200%;
    margin-left: -100%;

    transition: margin $transition-time ease-in 0s;
  }

  &__inner::before,
  &__inner::after {
    display: block;
    float: left;
    width: 50%;
    height: 40px;
    padding: 5px 0;

    font-family: inherit;
    color: $white;
  }

  &__inner::before {
    content: attr(data-show);

    padding-left: 10px;

    background-color: $train-color;
    background-image: $train-gradient;
  }

  &__inner::after {
    content: attr(data-hide);

    padding-right: 10px;

    text-align: right;

    background-color: $play-color;
    background-image: $play-gradient;
  }

  &__switch {
    position: absolute;
    top: 0;
    right: 77px;
    bottom: 0;

    display: block;
    width: 32px;
    height: 32px;
    margin: 9px;

    background: $white;
    border: 4px solid $blue-lighter;
    border-radius: 8px;

    transition: all $transition-time ease-in 0s;

    .page__inner--play & {
      border-color: $pink-lighter;
    }
  }

  &__checkbox:checked + .flipswitch__label .flipswitch__inner {
    margin-left: 0;
  }

  &__checkbox:checked + .flipswitch__label .flipswitch__switch {
    right: 0;
  }
}
